* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt-wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  letter-spacing: 0px;
}

:root {
  --clr-gray-900: 0 0% 8%;
  --clr-gray-800: 0 0% 12%;
  --clr-gray-700: 0 0% 20%;
  --clr-green: 75 94% 57%;
  --clr-white: 0 0% 100%;
  --fs-big: 1.5rem;
  --fs-small: 0.875rem;
  --space-500: 2.5rem;
  --space-300: 1.5rem;
  --space-200: 1rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem
}