* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt-wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --clr-gray-900: 0 0% 8%;
  --clr-gray-800: 0 0% 12%;
  --clr-gray-700: 0 0% 20%;
  --clr-green: 75 94% 57%;
  --clr-white: 0 0% 100%;
  --fs-big: 1.5rem;
  --fs-small: 0.875rem;
  --space-500: 2.5rem;
  --space-300: 1.5rem;
  --space-200: 1rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  letter-spacing: 0px;

  height: 100vh;
  padding: var(--space-500);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(var(--clr-gray-900));
  color: hsl(var(--clr-white));
}

/* Text Preset 1 */
.name {
  font-weight: bold;
  font-size: var(--fs-big);
}

/* Text Preset 2 */

.bio {
  font-size: var(--fs-small);
}

/* Text Preset 2 Bold */

.location, .link {
  font-size: var(--fs-small);
  font-weight: bold;
}

.app-container {
  width: 24rem;
  max-height: 100%;
  padding: var(--space-500);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-300);
  background-color: hsl(var(--clr-gray-800));
  text-align: center;
}

.pp {
  width: 5.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.location {
  color: hsl(var(--clr-green));
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-200);
  overflow: scroll;
}

.link {
  display: block;
  padding: var(--space-150);
  border-radius: 0.5rem;
  background-color: hsl(var(--clr-gray-700));
  color: hsl(var(--clr-white));
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.link:hover {
  background-color: hsl(var(--clr-green));
}