/* ----- CUSTOM PROPERTIES -----*/

:root {
  /* colors */
  --clr-blue-900: 230 35% 7%;
  --clr-blue-300: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font sizes */
  --fs-900: 9rem;
  --fs-800: 6.15rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans: "Barlow", sans-serif;

  /* spaces */
  --space-1600: 8rem;
  --space-1200: 6rem;
  --space-1000: 5rem;
  --space-800: 4rem;
  --space-600: 3rem;
  --space-500: 2.5rem;
  --space-400: 2rem;
  --space-300: 1.5rem;
  --space-200: 1rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
  --space-25: 0.125rem;
}

/* ----- RESET -----*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  /* Typography adjustment */
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 2.8;
  letter-spacing: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* ----- UTILITY CLASSES -----*/

/* layout */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.bg-blue-900 { background-color: hsl(var(--clr-blue-900)); }
.bg-blue-300 { background-color: hsl(var(--clr-blue-300)); }
.bg-white { background-color: hsl(var(--clr-white)); }

.text-blue-900 { color: hsl(var(--clr-blue-900)); }
.text-blue-300 { color: hsl(var(--clr-blue-300)); }
.text-white { color: hsl(var(--clr-white)); }

/* typography */

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans { font-family: var(--ff-sans); }

.ff-900 { font-size: var(--fs-900); }
.ff-800 { font-size: var(--fs-800); }
.ff-700 { font-size: var(--fs-700); }
.ff-600 { font-size: var(--fs-600); }
.ff-500 { font-size: var(--fs-500); }
.ff-400 { font-size: var(--fs-400); }
.ff-300 { font-size: var(--fs-300); }
.ff-200 { font-size: var(--fs-200); }

.letter-spacing-2px { letter-spacing: 2px; }
.letter-spacing-4px { letter-spacing: 4px; }

.uppercase { text-transform: uppercase; }

/* ----- COMPONENTS & PRESETS -----*/

/* text presets */

.text-preset-1 {
  font-family: var(--ff-serif);
  font-size: var(--fs-900);
  line-height: 2.72;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: var(--ff-serif);
  font-size: var(--fs-800);
  line-height: 2.15;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: var(--ff-serif);
  font-size: var(--fs-700);
  line-height: 1.64;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  line-height: 1.37;
  letter-spacing: 0;
}

.text-preset-5 {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  line-height: 1.34;
  letter-spacing: 4px;
}

.text-preset-6 {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  line-height: 1.32;
  letter-spacing: 0;
}

.text-preset-7 {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-200);
  line-height: 1.17;
  letter-spacing: 2px;
}

.text-preset-8 {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-300);
  line-height: 1.19;
  letter-spacing: 2px;
}

.text-preset-9 {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 2.8;
  letter-spacing: 0;
}

/*tablet*/
@media screen and (max-width: 78rem) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

/*mobile*/
@media screen and (max-width: 48rem) {
  :root {
    --fs-900: 5rem;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.125rem;
    --fs-500: 1rem;
    --fs-300: 0.875rem;
    --fs-400: 0.94rem;
  }
}



/*tablet*/
/*@media screen and (max-width: 78rem) {
  
}*/

/*mobile*/
/*@media screen and (max-width: 48rem) {

}*/