* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: 0 100% 100%;
  --clr-black: 0 0% 0%;
  --clr-blue-950: 217 54% 11%;
  --clr-blue-900: 216 50% 16%;
  --clr-blue-800: 215 32% 27%;
  --clr-blue-500: 215 51% 70%;
  --clr-cyan-400: 178 100% 50%;
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;

}

@font-face {
  font-family: "Outfit";
  src: url(fonts/Outfit-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

body {
  letter-spacing: 0px;
  font-family: "Outfit", sans-serif;
  line-height: 1.25;
  background-color: hsl(var(--clr-blue-950));
}