* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: 0 100% 100%;
  --clr-black: 0 0% 0%;
  --clr-blue-950: 217 54% 11%;
  --clr-blue-900: 216 50% 16%;
  --clr-blue-800: 215 32% 27%;
  --clr-blue-500: 215 51% 70%;
  --clr-cyan-400: 178 100% 50%;
  --spacing-0: 0px;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;

}

@font-face {
  font-family: "Outfit";
  src: url(fonts/Outfit-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  letter-spacing: 0px;
  font-family: "Outfit", sans-serif;
  line-height: 1.25;
  background-color: hsl(var(--clr-blue-950));
  color: hsl(var(--clr-blue-500));
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  width: 21.875rem; /* 350px */
  padding: var(--spacing-300);
  border-radius: 1rem;

  background-color: hsl(var(--clr-blue-900));
}

.image {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;

  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.image:hover > .overlay {
  visibility: visible;
}

.image > img {
  width: 100%;
  aspect-ratio: 1/1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  background-color: hsl(var(--clr-cyan-400) / 0.5);
}

.overlay > img {
  width: 4rem;
  aspect-ratio: 1/1;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

/* Text Preset 1 */
.nft-name {
  font-size: 1.375rem;
  font-weight: 600;
  color: hsl(var(--clr-white));
}

/* Text Preset 2 */
.nft-description {
  line-height: 1.45;
  font-size: 1.125rem;
  font-weight: 300;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info > * {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.price {
  color: hsl(var(--clr-cyan-400));
  font-weight: 600;
}

.card > hr {
  border: none;
  height: .0625rem; /* 1px */
  background-color: hsl(var(--clr-blue-800));
}

.creator-name {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.creator-name > img {
  width: 2rem;
  aspect-ratio: 1/1;
  border: 0.0625rem solid hsl(var(--clr-white));
  border-radius: 100%;
}

.name {
  color: hsl(var(--clr-white));
}

.image:hover ~ * .nft-name,
.image:hover ~ * .name {
  color: hsl(var(--clr-cyan-400));
}