/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: none;
  color: currentColor;
}

img, picture {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Design System */

@font-face {
  font-family: "Karla";
  src: url("fonts/Karla-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("fonts/Karla-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --clr-white: 0 100% 100%;
  --clr-gray: 218 22% 67%;
  --clr-teal-100: 204 43% 93%;
  --clr-teal-400: 179 48% 52%;
  --clr-teal-500: 179 62% 43%;
  --clr-green-400: 71 73% 54%;

  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
}

body {
  font-family: "Karla", sans-serif;
  background-color: hsl(var(--clr-teal-100));
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-preset-1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.15;
  letter-spacing: -0.025em;
}

.text-preset-2 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.15;
  letter-spacing: -0.016em;
}

.text-preset-3 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.15;
  letter-spacing: -0.016em;
}

.text-preset-4-bold {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.016em;
}

.text-preset-4 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.65;
  letter-spacing: -0.032em;
}

.text-preset-5 {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.45;
  letter-spacing: 0;
}

/* Components */

.single-price {
  display: grid;
  margin: var(--spacing-400);
  border-radius: var(--spacing-100);
  overflow: hidden;
  box-shadow: 0px 10px 10px hsl(var(--clr-teal-500) / 0.1);
}


.join {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-500);
  background-color: hsl(var(--clr-white));
}

.join-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.join-heading {
  color: hsl(var(--clr-teal-500));
}

.guarantee {
  color: hsl(var(--clr-green-400));
}

.description {
  color: hsl(var(--clr-gray));
}


.subscription, .why-us {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: var(--spacing-300) var(--spacing-500);
  color: hsl(var(--clr-white));
}

.subscription {
  background-color: hsl(var(--clr-teal-500));
}

.pricing {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: var(--spacing-100);
  flex-wrap: wrap;
}

.price-text {
  opacity: 0.5;
}

.subscription-info {
  flex-basis: 100%;
}

.sign-up-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: var(--spacing-100);
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  background-color: hsl(var(--clr-green-400));
  cursor: pointer;
  box-shadow: 0px 10px 10px hsl(0 0% 0% / 0.10);
}

.why-us {
  background-color: hsl(var(--clr-teal-400));
}

.why-us-info {
  opacity: 0.75;
}

@media (min-width: 769px) {
  .single-price {
    max-width: 40rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:  "join join" 
                          "subscription why-us";
  }

  .join {
    grid-area: join;
  }

  .subscription {
    grid-area: subscription;
  }

  .why-us {
    grid-area: why-us;
  }

  .description > span {
    display: block;
  }

  .subscription, .why-us {
    padding: var(--spacing-500);
  }

}