/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: none;
  color: currentColor;
}

img, picture {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Style Guide */

@font-face {
  font-family: "Fraunces";
  src: url("font/Fraunces/Fraunces-VariableFont_SOFT-WONK-opsz-wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("font/Fraunces/Fraunces-Italic-VariableFont_SOFT-WONK-opsz-wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --clr-black: 212 21% 14%;
  --clr-gray: 228 12% 48%;
  --clr-cream: 30 39% 92%;
  --clr-white: 0 0% 100%;
  --clr-green-500: 158 36% 37%;
  --clr-green-700: 158 42% 18%;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0;
  color: hsl(var(--clr-gray));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--clr-cream));
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces";
  font-weight: bold;
}

/* Product Preview Card Component Styling */

.product-card {
  display: grid;
  border-radius: var(--spacing-100);
  overflow: hidden;
  background-color: hsl(var(--clr-white));
  margin: var(--spacing-100);
}

.product-card__info {
  padding: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.product-card__category {
  text-transform: uppercase;
  letter-spacing: 0.41em;
  line-height: 1.2;
}

.product-card__description {
  line-height: 1.6;
}

/* Text Preset 1 */
h3, .product-card__price > ins {
  font-family: "Fraunces";
  font-weight: bold;
  line-height: 1;
  font-size: 2rem;
}

h3 {
  color: hsl(var(--clr-black));
}

.product-card__price {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.product-card__price > ins {
  color: hsl(var(--clr-green-500));
  text-decoration: none;
}

.product-card__price > del {
  font-size: 0.8125rem;
  line-height: 1.2;
  text-decoration: line-through;
}

.atc-button {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-green-500));
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.atc-button:hover {
  background-color: hsl(var(--clr-green-700));
}

@media (min-width: 376px) {
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 37.5rem;
  }

  .product-card__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}